<h1>Add a New Movie</h1>



<%= form_for @movie do |f| %>
  <% if @movie.errors.any? %>

    <h2> Errors: </h2>
    <ul>
      <% @movie.errors.full_messages.each do |message| %>
      <li> <%= message %> </li>
    <% end %>
    </ul>
<% end %>




  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
  	<%= f.label :year_released %><br>
  	<%= f.number_field :year_released, min:1886, max: Date.today.year %>
  <!--   min:1886, max: Date.today.year -->
  </p>

   <p>
    <%= f.label :ratings %><br>
    <%= f.number_field :ratings, min:0, max: 5 %>
  </p>
 
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>