<!-- <p><%= link_to 'home', '/stories' %> </p> -->

<%= form_tag "/", method: "GET" do %>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag "Search" %>
<% end %>

<h3><%= link_to "ADD NEW STORY", new_story_path %></h3>
<hr>

<% @stories.each do |f| %>
<p> <%= link_to f.title, f %> </p>
<p> Upvotes: <%= f.upvotes %> </p>
<p>  Category: <%= f.category %> </p>
<hr>

<% end %>

